<!-- CREDENCIAL DATA -->
<div class="modal fade" id="user_data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<%= image_tag @user.logo, :width => "100%", :alt => "header" %>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<h4>
						<strong>Contrato:</strong>
						<%= @user.contract %>
						</h4>
						<h4>
						<strong>Nº Socio</strong>
						<%= @user.id %>
						</h4>
						<h4>
						<strong>Rut:</strong>
						<%= @user.pid %>
						</h4>
						<h4>
						<strong>Nombre:</strong>
						<%= @user.name %>
						</h4>
						<h4>
						<strong>Teléfono:</strong>
						<%= @user.phone %>
						</h4>
						<h4>
						<strong>Empresa:</strong>
						<%= @user.company %>
						</h4>
					</div>
					<div class="col-md-6 text-center">
						<%= image_tag "webframe.png", :width => "200", :alt => "logo", :class => "img-responsive center-block" %>	
					</div>
				</div>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn bgc-yellow btn-sq" data-dismiss="modal">CERRAR</button>
			</div>
		</div>
	</div>
</div>


<!-- NEWSLETTER -->
<div class="modal fade" id="newsletter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<%= image_tag "newsletter.jpg", :width => "100%", :alt => "newsletter" %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn bgc-yellow btn-sq" data-dismiss="modal">CERRAR</button>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="newsletter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<%= image_tag "newsletter.jpg", :width => "100%", :alt => "newsletter" %>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn bgc-yellow btn-sq" data-dismiss="modal">CERRAR</button>
			</div>
		</div>
	</div>
</div>






