<%= render :partial => "partials/menu_full" %>

<!-- titulo-ingresar -->
<div class="bloc bg-page-background bg-repeat bgc-outer-space d-bloc" id="titulo-ingresar">
  <div class="container bloc-sm">
    <div class="row">
      <div id="slider_mis_convenios" class="owl-carousel text-center">
        <%= image_tag "slider_pb.jpg", :class => "img-responsive center-block", :alt => "img slider" %>
        <%= image_tag "slider_bci.jpg", :class => "img-responsive center-block", :alt => "img slider" %>
        <%= image_tag "slider_despegar.jpg", :class => "img-responsive center-block", :alt => "img slider" %>
        <%= image_tag "slider_nissan.jpg", :class => "img-responsive center-block", :alt => "img slider" %>
      </div>
    </div>
    <div class="btn_contactar">
      <%= link_to "#", data: {toggle: "modal", target: "#contactar_ejecutivo"} do %>
          <button class="btn btn-midnight-blue btn-d btn-sq" width="100%">
            <span class="fa fa-pencil fa-fw"></span> CONTACTAR EJECUTIVO
          </button>
      <% end %>
    </div>
  </div>
</div>

<div class="bloc bg-page-background bg-repeat bgc-outer-space d-bloc" id="titulo-ingresar768">
  <div class="container bloc-sm">
    <div class="row">
      <h3 class="text-center">
        <strong>BIENVENIDO A TUS CONVENIOS</strong>
      </h3>
      <div id="slider_mis_convenios768" class="owl-carousel text-center">
        <%= image_tag "slider_768_pb.jpg", :class => "img-responsive center-block", :alt => "img slider" %>
        <%= image_tag "slider_768_bci.jpg", :class => "img-responsive center-block", :alt => "img slider" %>
        <%= image_tag "slider_768_despegar.jpg", :class => "img-responsive center-block", :alt => "img slider" %>
        <%= image_tag "slider_768_nissan.jpg", :class => "img-responsive center-block", :alt => "img slider" %>
      </div>
    </div>
    <div class="btn_contactar text-center">
      <%= link_to "#", data: {toggle: "modal", target: "#contactar_ejecutivo"} do %>
          <button class="btn bgc-yellow btn-sq">
            <span class="fa fa-pencil fa-fw"></span> CONTACTAR EJECUTIVO
          </button>
      <% end %>
    </div>
  </div>
</div>




</div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function () {
$("#slider_mis_convenios").owlCarousel({
autoPlay: 3000, navigation: false, // Show next and prev buttons
slideSpeed: 300,
paginationSpeed: 400,
singleItem: true,
pagination: false
});
});
</script>

<script type="text/javascript">
$(document).ready(function () {
$("#slider_mis_convenios768").owlCarousel({
autoPlay: 3000, navigation: false, // Show next and prev buttons
slideSpeed: 300,
paginationSpeed: 400,
singleItem: true,
pagination: false
});
});
</script>


<!-- EXECUTIVE CONTACT -->
<div class="modal fade" id="contactar_ejecutivo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <%= image_tag "head_contactarejecutivo.jpg", :width => "100%", :alt => "header" %>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="commentform" method="post" action="send_form_email.php">
          <div class="form-group">
            <label class="control-label" for="first_name">Nombre</label>
            <div class="">
              <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Su nombre y apellido"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="last_name">Teléfono</label>
            <div class="">
              <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Teléfono"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="email">Email</label>
            <div class="">
              <input type="email" class="form-control" id="email" name="email" placeholder="Dirección de correo"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label" for="comment">Comentario</label>
            <div class="">
              <textarea rows="6" class="form-control" id="comments" name="comments" placeholder="Su pregunta o comentario acá"></textarea>
            </div>
          </div>
          <div class="form-group">

            <div class="text-center">
              <button type="submit" value="Submit" class="btn btn-custom">ENVIAR</button>
            </div>
          </div>
        </form>
        <p>
          Contacte directamente a su ejecutivo: <br>
          <strong>Mario Guerra,</strong> Fono:+569 1234 5678 <br>
          Email: mguerra@portalbeneficios.cl
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-midnight-blue btn-d btn-sq" data-dismiss="modal">CERRAR</button>
      </div>
    </div>
  </div>
</div>