<p id="notice"><%= notice %></p>

<h1>Listing Nexus</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Agreement contract</th>
      <th>User contract</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nexus.each do |nexu| %>
      <tr>
        <td><%= nexu.number %></td>
        <td><%= nexu.agreement_contract %></td>
        <td><%= nexu.user_contract %></td>
        <td><%= link_to 'Show', nexu %></td>
        <td><%= link_to 'Edit', edit_nexu_path(nexu) %></td>
        <td><%= link_to 'Destroy', nexu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nexu', new_nexu_path %>
