<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @nexu.number %>
</p>

<p>
  <strong>Agreement contract:</strong>
  <%= @nexu.agreement_contract %>
</p>

<p>
  <strong>User contract:</strong>
  <%= @nexu.user_contract %>
</p>

<%= link_to 'Edit', edit_nexu_path(@nexu) %> |
<%= link_to 'Back', nexus_path %>
