<!DOCTYPE html>
<html>
	<head>
		<title>Portal Beneficios</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="page-container">

			<%= yield %>

			<!-- bloc-5 -->
			<div class="bloc d-bloc bgc-midnight-blue" id="bloc-5">
				<div class="container bloc-xs">
					<div class="row">
						<div class="col-sm-6">
							<%= link_to root_path do %>
							<%= image_tag "logo_footer.png", :class => "img-responsive center-block logo_footer", :alt => "logo" %>
							<% end %>
						</div>
						<div class="col-sm-6 text-center">
							<h5 class="mg-sm">
							<span class="fa fa-envelope fa-fw"></span> info@portalbeneficios.cl
							</h5>
							<br>
							<h5 class="mg-sm">
							<span class="fa fa-facebook-square fa-fw"></span> facebook
							</h5>
							<h5 class="mg-sm">
							<span class="fa fa-twitter-square fa-fw"></span> twitter
							</h5>
							<h5 class="mg-sm">
							<span class="fa fa-instagram fa-fw"></span> instagram
							</h5>
						</div>
					</div>
				</div>
			</div>
			<!-- bloc-5 END -->
		</div>
		<!-- </div> Fin page-container -->
	</body>
	<% if user_signed_in? %>
	<%= render :partial => "partials/modals" %>
	<% end %>
	
</html>